<div class="card card-chart">
    <div class="card-body">
        <h4 class="card-title-center">Total Net Amount</h4>
        <!-- Flavors Table -->
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Flavor</th>
                    <th class="border-top-0">Amount (kg)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="https://cdn-icons-png.flaticon.com/512/4080/4080314.png"
                                     width=40" height="40" alt="">
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16 font-weight-bold"> <b>Chocolate</b></h4>
                            </div>
                        </div>
                    </td>
                    <td><p class="mb-2 ml-4 font-16 font-weight-bold" id="chocolate"><%= chocolate_amount %></p></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="https://cdn-icons-png.flaticon.com/512/6704/6704211.png"
                                     width=40" height="40" alt="">
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16 font-weight-bold">Vanilla</h4>
                            </div>
                        </div>
                    </td>
                    <td><p class="mb-2 ml-4 font-16 font-weight-bold" id="vanilla"><%= vanilla_amount %></p></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="https://cdn-icons-png.flaticon.com/512/4223/4223493.png"
                                     width=40" height="40" alt="">
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16 font-weight-bold">Strawberry</h4>
                            </div>
                        </div>
                    </td>
                    <td><p class="mb-2 ml-4 font-16 font-weight-bold" id="strawberry"><%= strawberry_amount %></p></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="https://cdn-icons-png.flaticon.com/512/6866/6866584.png"
                                     width=40" height="40" alt="">
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16 font-weight-bold">Lemon</h4>
                            </div>
                        </div>
                    </td>
                    <td><p class="mb-2 ml-4 font-16 font-weight-bold" id="lemon"><%= lemon_amount %></p></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="https://cdn-icons-png.flaticon.com/512/6622/6622735.png"
                                     width=40" height="40" alt="">
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16 font-weight-bold">Halva</h4>
                            </div>
                        </div>
                    </td>
                    <td><p class="mb-2 ml-4 font-16 font-weight-bold" id="halva"><%= halva_amount %></p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="material-icons">access_time</i> updated 4 minutes ago
        </div>
    </div>
</div>